<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clustering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <style>
        img {
            max-width: 100%;
        }

        .tab-pane {
            padding: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Clustering</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container" style="margin-top: 20px">
        <div class="card">
            <div class="card-heading"></div>
            <div class="card-body>">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="konsep-tab" data-toggle="tab" href="#konsep" role="tab" aria-controls="home" aria-selected="true">Konsep Umum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="kasus-tab" data-toggle="tab" href="#kasus" role="tab" aria-controls="profile" aria-selected="false">Contoh Kasus</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="konsep" role="tabpanel" aria-labelledby="konsep-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Dataset</h4>
                                <table class="table" id="table_umum" style="vertical-align: center">
                                    <thead>
                                        <tr>
                                            <th align="center" valign="middle" rowspan="3">x</th>
                                            <th align="center" valign="middle" rowspan="3">y</th>
                                            <th align="center" valign="middle" colspan="6">Cluster</th>
                                        </tr>
                                        <tr>
                                            <th align="center" valign="middle" colspan="3">K-Medians</th>
                                            <th align="center" valign="middle" colspan="3">K-Medoids</th>
                                        </tr>
                                        <tr>
                                            <th align="center" valign="middle">Euclidean</th>
                                            <th align="center" valign="middle">Manhattan</th>
                                            <th align="center" valign="middle">Minkowsky</th>
                                            <th align="center" valign="middle">Euclidean</th>
                                            <th align="center" valign="middle">Manhattan</th>
                                            <th align="center" valign="middle">Minkowsky</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dataset in datasets %}
                                        <tr>
                                            <td>{{ dataset[0] }}</td>
                                            <td>{{ dataset[1] }}</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <button id="mulai_clustering" class="btn btn-primary">Mulai Clustering</button>
                        <div class="row" id="hasil_clustering_konsep" style="display: none">
                            <div class="col-md-6">
                                <h4>Hasil plot Kmedian</h4>
                                <h5>Euclidean Distance</h5>
                                <img id="kmedian_euclidean" />
                                <h5>Manhattan Distance</h5>
                                <img id="kmedian_manhattan" />
                                <h5>Minskowsky Distance</h5>
                                <img id="kmedian_minkowsky" />
                            </div>
                            <div class="col-md-6">
                                <h4>Hasil plot Kmedoids</h4>
                                <h5>Euclidean Distance</h5>
                                <img id="kmedoids_euclidean" />
                                <h5>Manhattan Distance</h5>
                                <img id="kmedoids_manhattan" />
                                <h5>Minskowsky Distance</h5>
                                <img id="kmedoids_minkowsky" />
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="kasus" role="tabpanel" aria-labelledby="profile-tab">
                        <button id="mulai_clustering_kasus" class="btn btn-primary">Mulai Clustering</button>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Dataset</h4>
                                <table class="table" id="table_kasus" style="vertical-align: center">
                                    <thead>
                                        <tr>
                                            <th align="center" valign="middle" rowspan="3">x</th>
                                            <th align="center" valign="middle" rowspan="3">y</th>
                                            <th align="center" valign="middle" rowspan="3">y</th>
                                            <th align="center" valign="middle" rowspan="3">y</th>
                                            <th align="center" valign="middle" rowspan="3">y</th>
                                            <th align="center" valign="middle" rowspan="3">y</th>
                                            <th align="center" valign="middle" rowspan="3">y</th>
                                            <th align="center" valign="middle" colspan="6">Cluster</th>
                                        </tr>
                                        <tr>
                                            <th align="center" valign="middle" colspan="3">K-Medians</th>
                                            <th align="center" valign="middle" colspan="3">K-Medoids</th>
                                        </tr>
                                        <tr>
                                            <th align="center" valign="middle">Euclidean</th>
                                            <th align="center" valign="middle">Manhattan</th>
                                            <th align="center" valign="middle">Minkowsky</th>
                                            <th align="center" valign="middle">Euclidean</th>
                                            <th align="center" valign="middle">Manhattan</th>
                                            <th align="center" valign="middle">Minkowsky</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dataset in datasetskasus %}
                                        <tr>
                                            <td>{{ dataset[0] }}</td>
                                            <td>{{ dataset[1] }}</td>
                                            <td>{{ dataset[2] }}</td>
                                            <td>{{ dataset[3] }}</td>
                                            <td>{{ dataset[4] }}</td>
                                            <td>{{ dataset[5] }}</td>
                                            <td>{{ dataset[6] }}</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $('#mulai_clustering').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: 'cluster/sample/kmedian',
                success: function (response) {
                    for (i in response.euclidean.cluster_baru) {
                        $('#table_umum').find('tbody:eq(0)').find('tr').eq(i).find('td:eq(2)').text(
                            response.euclidean.cluster_baru[i])
                        $('#table_umum').find('tbody:eq(0)').find('tr').eq(i).find('td:eq(3)').text(
                            response.manhattan.cluster_baru[i])
                        $('#table_umum').find('tbody:eq(0)').find('tr').eq(i).find('td:eq(4)').text(
                            response.minkowsky.cluster_baru[i])
                    }

                    $('#hasil_clustering_konsep').show()
                    $('#kmedian_euclidean').attr('src', '/plot/kmedian?distance=euclidean&t=' + new Date()
                        .getTime())
                    $('#kmedian_manhattan').attr('src', '/plot/kmedian?distance=manhattan&t=' + new Date()
                        .getTime())
                    $('#kmedian_minkowsky').attr('src', '/plot/kmedian?distance=minkowsky&t=' + new Date()
                        .getTime())


                    $.ajax({
                        type: 'GET',
                        url: 'cluster/sample/kmedoids',
                        success: function (response) {
                            for (i in response.euclidean.cluster_baru) {
                                $('#table_umum').find('tbody:eq(0)').find('tr').eq(i).find(
                                    'td:eq(5)').text(
                                    response.euclidean.cluster_baru[i])
                                $('#table_umum').find('tbody:eq(0)').find('tr').eq(i).find(
                                    'td:eq(6)').text(
                                    response.manhattan.cluster_baru[i])
                                $('#table_umum').find('tbody:eq(0)').find('tr').eq(i).find(
                                    'td:eq(7)').text(
                                    response.minkowsky.cluster_baru[i])
                            }

                            $('#kmedoids_euclidean').attr('src',
                                '/plot/sample/kmedoids?distance=euclidean&t=' + new Date()
                                .getTime())
                            $('#kmedoids_manhattan').attr('src',
                                '/plot/sample/kmedoids?distance=manhattan&t=' + new Date()
                                .getTime())
                            $('#kmedoids_minkowsky').attr('src',
                                '/plot/sample/kmedoids?distance=minkowsky&t=' + new Date()
                                .getTime())
                        }
                    })
                }
            })


        })
        $('#mulai_clustering_kasus').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: 'cluster_kasus/kmedian',
                success: function (response) {
                    for (i in response.euclidean.cluster_baru) {
                        $('#table_kasus').find('tbody:eq(0)').find('tr').eq(i).find('td:eq(7)').text(
                            response.euclidean.cluster_baru[i])
                        $('#table_kasus').find('tbody:eq(0)').find('tr').eq(i).find('td:eq(8)').text(
                            response.manhattan.cluster_baru[i])
                        $('#table_kasus').find('tbody:eq(0)').find('tr').eq(i).find('td:eq(9)').text(
                            response.minkowsky.cluster_baru[i])
                    }

                    $.ajax({
                        type: 'GET',
                        url: 'cluster_kasus/kmedoids/euclidean',
                        success: function (response) {
                            for (i in response.euclidean.cluster_baru) {
                                $('#table_kasus').find('tbody:eq(0)').find('tr').eq(i).find('td:eq(10)').text(
                                    response.euclidean.cluster_baru[i])
                            }
                        }
                    })

                    $.ajax({
                        type: 'GET',
                        url: 'cluster_kasus/kmedoids/manhattan',
                        success: function (response) {
                            for (i in response.manhattan.cluster_baru) {
                                $('#table_kasus').find('tbody:eq(0)').find('tr').eq(i).find('td:eq(11)').text(
                                    response.manhattan.cluster_baru[i])
                            }
                        }
                    })

                    $.ajax({
                        type: 'GET',
                        url: 'cluster_kasus/kmedoids/minkowsky',
                        success: function (response) {
                            for (i in response.minkowsky.cluster_baru) {
                                $('#table_kasus').find('tbody:eq(0)').find('tr').eq(i).find('td:eq(12)').text(
                                    response.minkowsky.cluster_baru[i])
                            }
                        }
                    })
                }
            })
        })
    </script>
</body>

</html>